# Dependencias
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Producción
/build
/dist

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos del editor
.idea/
.vscode/
*.swp
*.swo

# Uploads
/backend/uploads/*
!/backend/uploads/.gitkeep

# Archivos específicos
/backend/config/config.js